<!doctype html>
{% macro render_timestamp(t) -%}
{{ time.ctime(round(float(t))) }}
{%- endmacro %}

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>channel</title>
  <meta name="description" content="Slack archive">
  <meta name="author" content="archivebot">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
{% for message in messages %}
    {% set is_thread = bool(message.thread_timestamp) %}
    {% if is_thread %}
        {% if (message.thread_timestamp == message.timestamp) %}
            <hr>
        {% endif %}
    {% else %}
        <hr>
    {% endif %}
    <div>
    {{ render_timestamp(message.timestamp) }}
    {{ message.user | user | safe }}
    {# <img src="{{ message.avatar }}" width="30"> #}
    {{ message.message | message | safe}}

    </div>
    {% set was_thread = is_thread %}
{% endfor %}

</body>
</html>
